In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
import pickle

In [63]:
data=pd.read_csv('Churn_Modelling.csv')

In [64]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [65]:
# Preprocess the data
data = data.drop(['RowNumber','CustomerId','Surname'], axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [66]:
# Encode Gender using LabelEncoder
le = LabelEncoder()
data['Gender'] = le.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [67]:
# One-hot encode Geography
ohe = OneHotEncoder(sparse_output=False)
geo_encoder = ohe.fit_transform(data[['Geography']])
geo_encoder_df = pd.DataFrame(geo_encoder, columns=ohe.get_feature_names_out())

# Concatenate with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoder_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [68]:
# Split features and target
x = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

# Train-test split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Scale the features
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

print(f"Training set shape: {x_train.shape}")
print(f"Test set shape: {x_test.shape}")

Training set shape: (8000, 12)
Test set shape: (2000, 12)

In [69]:
# Save encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(le, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(ohe, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [70]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [71]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [72]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)
])

c:\Users\theni\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [73]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'] )

In [74]:
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [75]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# TensorBoard callback
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [76]:
# Early stopping callback
early_stopping_callback = EarlyStopping(
    monitor="val_loss",
    patience=10,
    restore_best_weights=True
)

In [77]:
history = model.fit(
    x_train,
    y_train,
    validation_data=(x_test, y_test),
    epochs=50,
    batch_size=32,
    callbacks=[tensorboard_callback, early_stopping_callback],
    verbose=1
)

Epoch 1/50

250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 100906.3750 - mae: 100906.3750 - val_loss: 98465.7500 - val_mae: 98465.7500
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 99929.4766 - mae: 99929.4766 - val_loss: 96643.7578 - val_mae: 96643.7578
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 97382.7734 - mae: 97382.7734 - val_loss: 92058.1875 - val_mae: 92058.1875
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 92460.1094 - mae: 92460.1094 - val_loss: 84580.0625 - val_mae: 84580.0625
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 84483.1484 - mae: 84483.1484 - val_loss: 75323.6172 - val_mae: 75323.6172
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 74199.4141 - mae: 74199.4141 - val_loss: 66143.0078 - val_mae: 66143.0078
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 66072.0391 - mae: 66072.0391 - val_loss: 58816.8086 - val_mae: 58816.8086
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 58051.6133 - mae: 58051.6133 - val_loss: 54055.4297 - val_mae: 54055.4297
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 53831.3320 - mae: 53831.3320 - val_loss: 51730.2188 - val_mae: 51730.2188
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52136.4297 - mae: 52136.4297 - val_loss: 50898.5352 - val_mae: 50898.5352
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51160.5859 - mae: 51160.5859 - val_loss: 50641.0508 - val_mae: 50641.0508
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50573.0234 - mae: 50573.0234 - val_loss: 50565.3086 - val_mae: 50565.3086
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50257.6992 - mae: 50257.6992 - val_loss: 50514.4531 - val_mae: 50514.4531
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50178.7383 - mae: 50178.7383 - val_loss: 50486.9492 - val_mae: 50486.9492
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49899.4102 - mae: 49899.4102 - val_loss: 50451.8867 - val_mae: 50451.8867
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50196.1250 - mae: 50196.1250 - val_loss: 50423.3711 - val_mae: 50423.3711
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50226.3516 - mae: 50226.3516 - val_loss: 50407.1250 - val_mae: 50407.1250
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49764.1250 - mae: 49764.1250 - val_loss: 50374.7812 - val_mae: 50374.7812
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49982.2617 - mae: 49982.2617 - val_loss: 50359.6914 - val_mae: 50359.6914
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49989.2500 - mae: 49989.2500 - val_loss: 50347.1406 - val_mae: 50347.1406
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49592.1680 - mae: 49592.1680 - val_loss: 50330.9258 - val_mae: 50330.9258
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49945.9727 - mae: 49945.9727 - val_loss: 50305.5938 - val_mae: 50305.5938
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50040.4922 - mae: 50040.4922 - val_loss: 50299.3555 - val_mae: 50299.3555
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 49738.6094 - mae: 49738.6094 - val_loss: 50297.6562 - val_mae: 50297.6562
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49578.3242 - mae: 49578.3242 - val_loss: 50290.8008 - val_mae: 50290.8008
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49256.0039 - mae: 49256.0039 - val_loss: 50276.0547 - val_mae: 50276.0547
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49289.4336 - mae: 49289.4336 - val_loss: 50273.0430 - val_mae: 50273.0430
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49335.1992 - mae: 49335.1992 - val_loss: 50261.3828 - val_mae: 50261.3828
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49890.8711 - mae: 49890.8711 - val_loss: 50262.9023 - val_mae: 50262.9023
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49758.8438 - mae: 49758.8438 - val_loss: 50267.1289 - val_mae: 50267.1289
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49347.3867 - mae: 49347.3867 - val_loss: 50267.0469 - val_mae: 50267.0469
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49973.6523 - mae: 49973.6523 - val_loss: 50265.2344 - val_mae: 50265.2344
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49889.6875 - mae: 49889.6875 - val_loss: 50260.5234 - val_mae: 50260.5234
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49143.0625 - mae: 49143.0625 - val_loss: 50266.7305 - val_mae: 50266.7305
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49286.0820 - mae: 49286.0820 - val_loss: 50267.6641 - val_mae: 50267.6641
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49918.1289 - mae: 49918.1289 - val_loss: 50266.9375 - val_mae: 50266.9375
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49493.1992 - mae: 49493.1992 - val_loss: 50264.4766 - val_mae: 50264.4766
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 49869.3242 - mae: 49869.3242 - val_loss: 50256.4258 - val_mae: 50256.4258
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49556.8906 - mae: 49556.8906 - val_loss: 50265.9414 - val_mae: 50265.9414
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49176.3320 - mae: 49176.3320 - val_loss: 50262.7266 - val_mae: 50262.7266
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49404.5898 - mae: 49404.5898 - val_loss: 50270.6992 - val_mae: 50270.6992
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49357.1133 - mae: 49357.1133 - val_loss: 50268.8359 - val_mae: 50268.8359
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49314.9883 - mae: 49314.9883 - val_loss: 50265.4844 - val_mae: 50265.4844
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 48734.0938 - mae: 48734.0938 - val_loss: 50264.0312 - val_mae: 50264.0312
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48930.9648 - mae: 48930.9648 - val_loss: 50268.1484 - val_mae: 50268.1484
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49859.7148 - mae: 49859.7148 - val_loss: 50276.1914 - val_mae: 50276.1914
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49601.5820 - mae: 49601.5820 - val_loss: 50275.2695 - val_mae: 50275.2695
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49157.7539 - mae: 49157.7539 - val_loss: 50277.3711 - val_mae: 50277.3711

In [78]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [79]:
%tensorboard --logdir regressionlogs/fit/

Reusing TensorBoard on port 6006 (pid 9516), started 0:16:34 ago. (Use '!kill 9516' to kill it.)

In [80]:
test_loss,test_mae=model.evaluate(x_test,y_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 51139.2031 - mae: 51139.2031

In [81]:
test_loss

50256.42578125

In [82]:
test_mae

50256.42578125

In [83]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.